*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.App{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    height:600px;
    width: 400px;
    display: flex;
    flex-direction:column;
    background-color: rgb(175, 199, 244);
    padding: 20px;
    border-radius: 10px;
    gap:20px
}
.display-screen{
    height:100px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.display-screen > .numberOutput, .display-screen > .resultOutput{
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
}
.display-screen > .numberOutput{
    font-size: 20px;
}
.display-screen > .resultOutput{
    font-size: 35px;
}
.btnsContainer{
    flex-grow: 1;
    display: grid;
    grid-template-areas: "clear percent divide mult"
                        "seven eight nine minus"
                        "four five six add"
                        "one two three dec"
                        "naught equal equal equal";
    gap:5px;
}
.clear{
    grid-area: clear
}
.percent{
    grid-area: percent
}
.divide{
    grid-area: divide
}
.multiply{
    grid-area: mult
}
.nine{
    grid-area: nine
}
.eight{
    grid-area: eight
}
.seven{
    grid-area: seven
}
.six{
    grid-area: six
}
.five{
    grid-area: five
}
.four{
    grid-area: four
}
.three{
    grid-area: three
}
.two{
    grid-area: two
}
.one{
    grid-area: one
}
.zero{
    grid-area: naught
}
.decimal{
    grid-area: dec
}
.equal{
    grid-area: equal
}

button{
    font-size: 30px;
    border-radius: 16px;
    border: none;
}
